@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1320px;
  padding: 0 0.5rem;
}

.btn{
  @apply border-2 border-primary px-4 py-1 rounded-md transition-all duration-300  
}
.banner{
  @apply bg-cover bg-right h-[300px] w-full rounded-md flex items-center;
  background-image: url('/banner.jpg');
  
}
.banner h1{
  @apply text-3xl md:text-4xl xl:text-5xl font-semibold text-primary uppercase md:w-8/12 leading-tight px-10;
}